@import "../core/mixins";

header {
   @include flexContent(center, center, column);
   width: 100%;
   position: relative;
   min-height: 17rem;
}

@media screen and (min-width: 576px) {
   header {
      flex-direction: row;
      width: 90%;
      align-items: flex-start;
      margin: 3.2rem auto 0 auto;
   }
}
@media screen and (min-width: 968px) {
   header {
      width: 95%;
      flex-direction: row;
      min-height: 15rem;
   }
}
