@import '../core/mixins';

.search-filter{
   @include flexContent(center, center, row);
   min-height: 5.5rem;
   width: 29.7rem;
   box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   border-radius: 1.6rem;
   margin: 3.7rem auto;
  
   input, button{
      height: 5.5rem;
      border: none;
      background-color: #fff;
      padding: 0;
   }
   input{
      width: 40%;
   }
   .input-location, .input-guests{
      border-right: 1px solid $divider-color;
      cursor: pointer;
   }
}
.search-button{
   min-width: 5.3rem;
   color: $main-color;
   cursor: pointer;
}
.material-icons{
   width: 1.7rem;
   height: 1.7rem;
}
