@import '../core/mixins';

// 
button,
input, 
.input-location, 
.input-guests, 
.search-item, 
.search-button, 
.close-button{
   cursor: pointer;
}
.search-filter, .search-button{
   box-shadow: $shadow;
}

.search-filter{
   @include flexContent(center, center, row);
   min-height: 5.5rem;
   width: 29.7rem;
   overflow: hidden;
   border-radius: $rounded;
   margin: 3.7rem auto;
   input, button{
      height: 5.5rem;
      border: none;
      background-color: #fff;
      padding: 0;
   }
   input{
      width: 80%;
      &:focus{
         outline: none;
      }
   }
   .input-location, .input-guests{
      border-right: 1px solid $af-white;
      
   }
   
}
// Search bar wrapper
.search-wrapper{
   @include flexContent(center, flex-start, column);
   
}
.selected{
   position: fixed;
   width: 100%;
   top: 0;
   height: 63.2rem;
   z-index: 10;
   background-color: #fff;
   
   .search-top{
      @include flexContent(center, center, row);
      width: 90%;
      margin-top: 1.8rem;
      h3{
         flex-grow: 1;
      }
   }
   .search-filter{
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      min-height: 11rem;
      margin: 1.6rem auto;
      input{
         height: 2rem;
      }
   }
   .input-location, .input-guests{
      @include flexContent(inherit, flex-start, column);
      text-indent: 0;
      width: 100%;
      height: 5.5rem;
      position: relative;
      .clear-input{
         position: absolute;
         top: 35%;
         left: 80%;
         width: 1.7rem;
         height: 1.7rem;
         background-color: $af-white;
         border-radius: $rounded;
         text-align: center;
         .material-icons{
            font-size: $text-lg;
            color: $dark-charcoal;
         }
         &:hover{
            background-color: $gray;
         }
      }
      & > * {
         width: 90%;
         margin-left: 2.6rem;
      }
      & > label{
         margin-top: .5rem;
      }
      & > input{
         line-height: 0;
      }
   }
   .input-location{
      border-bottom: 1px solid $af-white;
   }
   .search-details{
      width: 90%;
      max-height: 36rem;
      overflow: scroll;
      flex-grow: 1;
      ul{
         padding: 0;
         margin: 1rem;
      }
      .search-item{
         @include flexContent(center, flex-start, row);
         padding: 1.8rem 0;
      }
   }
   .guests-wrapper{
      @include flexContent(flex-start, center, column);
      .guests{
         margin: 1.3rem 1rem;
         @include flexContent(flex-start, flex-start, column);
      }
      .buttons{
         width: 15rem;
      }
      span{
         margin: 0 1.6rem;
      }
      button{
         width: 2.3rem;
         height: 2.3rem;
         background-color: #fff;
         border-radius: $rounded-sm;
         border: .1rem solid $old-silver;
         color: $button-guests-color;
         font-weight: 800;
         &:hover{
            color: #fff;
            background-color: $gray;
         }
      }
   }
   .search-button{
      color: #fff;
      background-color: $main-color;
      @include flexContent(center, center, row);
      border-radius: $rounded;
      width: 12.6rem;
      height: 4.8rem;
      margin-bottom: 2rem;
      
      &:hover{
         background-color: $madder-lake;
      }
      .search{
         margin-right: 1rem;
      }
   }
}

.search-button{
   min-width: 5.3rem;
   color: $main-color;
   &:hover{
      background-color: $af-white;
   }
}
.material-icons .search{
   width: 1.7rem;
   height: 1.7rem;
   
}
.gray-bg{
   background-color: rgba(79, 79, 79, 0.4);
   top:100%;
   left: 0;
   z-index: 1;
   position: absolute;
   height: 100%;
   width: 100%;
}

