@import '../core/mixins';

.stay-wrapper{
   width: 100%;
   @include flexContent(center, flex-start, column);
   margin-bottom: 10rem;
   
}
.stay-wrapper-top{
   width: 90%;
   @include flexContent(center, space-between, row);
   & > * {
      margin-bottom: 2.4rem;
   }
}
.stay-list{
   @include flexContent(center, center, row);
   flex-wrap: wrap;
}


