@import './variables';

/* ======================
   SHARED CSS PROPRIETIES
   ======================*/

//========== FONT FAMILY ==========
header, ::placeholder{
   font-family: $mulish;
}
.stay-wrapper, footer{
   font-family: $montserrat;
}
//========== FONT COLORS ==========
.stays-amount,
.search-item,
.no-stay,
.stay-ratings{
   color: $dark-liver;
}
.stays-in, .stay-title{
   color: $dark-charcoal;
}
.stay-details, .footer{
   color: $old-silver;
}

//========== FONT SIZE ==========
//Font xtra small
label, .stay-info{
   font-size: $text-xs;
}
//Font small
.search-top h3,
.stay-details,
.stay-ratings{
   font-size: $text-sm;
}
//Font medium
.search-details, 
.guest-type,
::placeholder,
.selected .search-button,
.stays-amount,
.stay-title,
.footer{
   font-size: $text-md;
}
//Font large
.stays-in, .no-stay{
   font-size: $text-xl
}

//========== FONT WEIGHT ==========
.stays-amount, 
.stay-details, 
.stay-ratings, 
.footer{
   font-weight: 500;
}
.stay-info, .github{
   font-weight: 700;
}
label, .guest-type{
   font-weight: 800;
}

//========== OTHERS ==========
.input-location, .input-guests{
   text-indent: 1.6rem;
   line-height: 1.7rem;
}
.guest-type, .guest-type-info{
   margin: .5rem 0;
}

/* ======================
         STAY ITEM
   ====================== */

.superhost{
   font-size: 1rem;
}
.stay-details{
   p{
      display: inline;
   }
}
.star{
   font-size: $icon-sm;
}
.stay-title{
   font-weight: 600;
   width: 100%;
   line-height: 1.7rem;
}
/* ======================
         FOOTER
   ====================== */
.footer{
   margin-bottom: 2.6rem;
   text-align: center; 
}

@media screen and (min-width: 968px){
   .stays-in{
      font-size: 2.4rem;
   }
   .superhost{
      font-size: sm;
   }
   .stay-details, .stays-amount{
      font-size: $text-md;
   }
   .stay-title{
      font-size: $text-lg;
   }
   
}