
header{
   font-family: 'Mulish', Arial, Helvetica, sans-serif;
}
input{
   text-indent: 1.6rem;
}
::placeholder{
   font-family: 'Mulish', Arial, Helvetica, sans-serif;
}
.stay-wrapper{
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}